/*
 * Datepicker Properties
 */
/*
 * Rangepicker Properties
 */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gridline-wrapper {
  border: 1px solid #e0e0e0;
  width: 210px;
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.month-panel {
  width: 210px;
  height: 30px;
  line-height: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.month-panel div {
  display: inline-block;
}
.month-panel .control {
  width: 30px;
}
.month-panel .label {
  width: 150px;
  text-align: center;
}
.cell {
  float: left;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #bcbcbc;
}
.days {
  height: 30px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.cell.instant,
.days > .cell {
  color: #333333;
}
.days > .cell {
  background-color: #f0f0f0;
}
.week {
  width: 210px;
  height: 30px;
}
.week > .cell.highlighted {
  color: #ffffff;
  background-color: #aaaaaa;
  cursor: pointer;
}
.week > .cell.disabled {
  color: #999999;
  text-decoration: line-through;
}
.week > .cell.selected {
  color: #ffffff;
  background-color: #666666;
}
.weekend {
  background-color: #f9f9f9;
}
/*
 * Navigation
 */
.navigation .control {
  text-align: center;
  cursor: pointer;
}
.navigation .control.left:after {
  content: "<";
}
.navigation .control.right:after {
  content: ">";
}
.navigation .control.disabled {
  cursor: initial;
}
.navigation .control.disabled.left:after,
.navigation .control.disabled.right:after {
  content: "";
}
/*
 * DatePicker + RangePicker
 */
.datepicker,
.rangepicker {
  position: relative;
  display: inline-block;
}
.datepicker-input,
.rangepicker-input {
  padding: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  width: 110px;
  border: 1px solid #e0e0e0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker-input.highlighted,
.rangepicker-input.highlighted {
  border: 1px solid #aaaaaa;
}
/*
 * DatePicker Only
 */
.datepicker-popup {
  position: absolute;
  margin-top: 25px;
}
.datepicker-popup .datepicker-popup-inner {
  position: absolute;
  margin-top: -20px;
}
.datepicker-popup .datepicker-popup-content {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 1px gray;
  box-shadow: 0 0 5px 1px gray;
  position: relative;
}
.datepicker-popup .pointer {
  position: absolute;
  left: 25px;
}
.datepicker-popup .pointer:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 50%;
}
.datepicker-popup .gridline-wrapper {
  border: none;
}
/*
 * RangePicker Only
 */
.rangepicker-input {
  width: 190px;
}
.rangepicker {
  font-size: 12px;
  line-height: 12px;
}
.rangepicker .daterange-input {
  padding: 5px 4px 3px 4px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  width: 80px;
  border: 1px solid #e0e0e0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rangepicker .daterange-input.highlighted {
  border-color: #116AE0;
}
.rangepicker .button {
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  width: 80px;
  cursor: pointer;
  padding: 5px 4px 3px 4px;
  display: inline-block;
  text-align: center;
  border: 1px #e0e0e0 solid;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rangepicker .button:hover {
  border-color: #c7c7c7;
}
.rangepicker .button.disabled,
.rangepicker .button.disabled:hover {
  cursor: default;
  color: #c0c0c0;
  border-color: #f0f0f0;
}
.rangepicker .controls-panel {
  padding: 5px 3px;
  text-align: center;
}
.rangepicker .inputs-panel,
.rangepicker .buttons-panel {
  display: inline-block;
  margin: 3px;
}
.rangepicker .buttons-panel .button:first-child {
  margin-left: 0;
  margin-right: 7px;
}
.rangepicker .buttons-panel .button:last-child {
  margin-left: 7px;
  margin-right: 0;
}
.rangepicker .rangepicker-popup {
  position: absolute;
  width: 466px;
  border: 1px #e0e0e0 solid;
}
.rangepicker .rangepicker-popup-content {
  background-color: #ffffff;
}
.rangepicker .months div {
  display: inline-block;
}
.rangepicker .months .month {
  padding: 4px 5px 3px 5px;
  width: 130px;
  text-align: center;
  color: #455F81;
  font-weight: bold;
  cursor: pointer;
}
.rangepicker .months .control {
  width: 23px;
}
.rangepicker .gridlines {
  padding: 0 23px 5px 23px;
}
.rangepicker .gridline {
  display: inline-block;
  width: 140px;
}
.rangepicker .cell {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.rangepicker .days {
  height: 20px;
  font-weight: bold;
}
.rangepicker .week {
  width: 140px;
  height: 20px;
}
.rangepicker .week > .cell.selected {
  background-color: #116AE0;
}
.rangepicker .week > .cell.highlighted {
  background-color: #E49D04;
}
.rangepicker .week > .cell.disabled {
  text-decoration: none;
}
