.container {
  margin: 2em auto 2em auto;
}
@media (min-width: 768px) {
  .container {
    width: 560px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
section {
  padding: 5px 10px;
}
code {
  overflow-x: scroll;
}
