@calendar-background-color: #FFFFFF;
@calendar-border-color: #E0E0E0;

@calendar-base-font-color: #BCBCBC;
@calendar-instant-font-color: #333;
@calendar-disabled-font-color: #999999;
@calendar-highlighted-font-color: #FFFFFF;
@calendar-selected-font-color: #FFFFFF;

@calendar-days-cell-background-color: #F0F0F0;
@calendar-weekend-background-color: #F0F0F0;
@calendar-highlighted-background-color: #AAA;
@calendar-selected-background-color: #666;

@calendar-cell-width: 30px;
@calendar-cell-height: @calendar-cell-width;
@calendar-cell-line-height: @calendar-cell-height;

@datepicker-border-color: #E0E0E0;
@datepicker-highlighted-border-color: #AAAAAA;
@datepicker-popup-background-color: #FFFFFF;

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell {
    float: left;
    text-align: center;
    width: @calendar-cell-width;
    height: @calendar-cell-height;
    line-height: @calendar-cell-line-height;
    color: @calendar-base-font-color;
}

.days {
    height: @calendar-cell-width;
    border-bottom: 1px solid @calendar-border-color;
    border-top: 1px solid @calendar-border-color;
}

.date-panel {
   border: 1px solid @calendar-border-color;
   width: 7 * @calendar-cell-width;
   background-color: @calendar-background-color;
   .noselect;
}

.month-panel {
   width: 7 * @calendar-cell-width;
   height: @calendar-cell-height;
   line-height: @calendar-cell-line-height;
   .noselect;
}

.month-panel div {
   display: inline-block;
}

.month-panel .control {
   width: @calendar-cell-width;
   text-align: center;
   cursor: pointer;
}

.month-panel .left:after {
    content: "<";
}

.month-panel .right:after {
    content: ">";
}

.month-panel .control.disabled {
    cursor: initial;
}

.month-panel .control.disabled.left:after, .month-panel .control.disabled.right:after {
    content: "";
}

.month-panel .label {
   width: 5 * @calendar-cell-width;
   text-align: center;
}

.cell.instant, .days > .cell {
    color: @calendar-instant-font-color;
}

.days > .cell {
    background-color: @calendar-days-cell-background-color;
}

.week {
    width: 7 * @calendar-cell-width;
    height: @calendar-cell-height;
}

.week > .cell.highlighted {
    color: @calendar-highlighted-font-color;
    background-color: @calendar-highlighted-background-color;
    cursor: pointer;
}

.week > .cell.disabled {
    color: @calendar-disabled-font-color;
    text-decoration: line-through;
}

.week > .cell.selected {
    color: @calendar-selected-font-color;
    background-color: @calendar-selected-background-color;
}

.weekend {
    background-color: @calendar-weekend-background-color;
}

/*
 * DatePicker
 */

.datepicker {
    position: relative;
    display: inline-block;
}

.datepicker-input {
    padding: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    width: 110px;
    border: 1px solid @datepicker-border-color;
}

.datepicker-input.highlighted {
    border: 1px solid @datepicker-highlighted-border-color;
}

.datepicker-popup {
    position: absolute;
    margin-top: 25px;
}

.datepicker-popup-inner {
    position: absolute;
    margin-top: -20px;
}

.datepicker-popup .datepicker-popup-content {
    background-color: @datepicker-popup-background-color;
    -webkit-box-shadow: 0 0 5px 1px gray;
    box-shadow: 0 0 5px 1px gray;
    position: relative;
}

.datepicker .pointer {
    position: absolute;
    left: 25px;
}

.datepicker-popup .pointer:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: @datepicker-popup-background-color;
    border-width: 10px;
    left: 50%;
}

.datepicker-popup .date-panel {
    border: none;
}